.edit-clinic-container {
    .edit-clinic-body {
        padding: 15px;

        .clinic-name {
            width: 49%;
        }

        .edit-button {
            margin-top: 10px;
        }
    }
}