.doctor-extra-infor-container {
    padding-left: 15px;

    .content-up {
        .text-address {
            text-transform: uppercase;
            color: #333;
        }

        .name-clinic {
            font-weight: 600;
            padding: 5px 0;
            color: #333;
        }

        .detail-address {
            font-style: italic;
            font-weight: 600;
            color: #333;
        }
    }

    .content-down {
        .short-infor {
            .detail {
                cursor: pointer;
                color: rgb(0, 172, 172);
            }

            .currency {
                margin: 0 5px;
            }
        }

        .title-table {
            margin-bottom: 10px;
        }

        .detail-infor {
            border: 1px solid #ddd;
            padding: 5px;
            background-color: #f8f8f8;

            .price {
                padding-bottom: 5px;

                .right {
                    float: right;
                }

            }
        }


        .payment-content {
            background-color: #eeeeee;
            border: 1px solid #ddd;
            padding: 5px;
        }

        .hide-price {
            margin-top: 10px;

            span {
                cursor: pointer;
                color: rgb(0, 172, 172);
            }
        }
    }
}